[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
dask = "*"
numba = "*"
urllib3 = "*"
pandas = "*"
beautifulsoup4 = "*"
lxml = "*"
html5lib = "*"
pyarrow = "*"
certifi = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
